html {
    font-size: 62.5%;
    /*1rem = 16px*/
    box-sizing: border-box;
}

/*base styles for desktop*/

body {
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.5rem;
}

.desktop-img {
    display: block;
    width: 30rem;
    height: 45rem;
    border-radius: 1rem 0 0 1rem;
}

.mobile-img {
    display: none;
}


.description {
    background-color: hsl(0, 0%, 100%);
    color: hsl(228, 12%, 48%);
    border-radius: 0 1rem 1rem 0;
    width: 27rem;
    height: 41.5rem;
    padding-left: 3rem;
    padding-top: 3.5rem;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.5rem;
}


.perfume-name {
    color: hsl(212, 21%, 14%);
    font-family: 'Fraunces', serif;
    font-size: 2.6rem;
    font-weight: 700;
    padding-right: 8rem;
}

.product-details {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.3rem;
    padding-right: 4.5rem;
}

.actual-price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 2.6rem;
    font-weight: 700;
}

.old-price {
    font-size: 1rem;
    text-decoration-line: line-through;
    padding-left: 1rem;
}

.icon-cart {
    color: hsl(0, 0%, 100%);
    padding-right: 1rem;
}

.button {
    display: block;
    width: 23.6rem;
    height: 4.8rem;
    border: none;
    border-radius: 1rem;
    margin-top: 3.2rem;
    color: hsl(0, 0%, 100%);
    background-color: hsl(158, 36%, 37%);
    cursor: pointer;
}

.button:hover {
    background: #184131;
}

.attribution {
    margin-top: 1rem;
    font-size: 1.1rem;
    text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*base styles for mobile*/
@media screen and (max-width: 640px) {
    .container {
        display: flex;
        flex-direction: column;
        margin-top: 2.8rem;
    }

    .desktop-img {
        display: none;
    }

    .mobile-img {
        display: block;
        width: 34.3rem;
        height: 24rem;
        border-radius: 1rem 1rem 0 0;
    }

    .description {
        box-sizing: border-box;
        background-color: hsl(0, 0%, 100%);
        color: hsl(228, 12%, 48%);
        border-radius: 0 0 1rem 1rem;
        width: 34.3rem;
        height: 37.2rem;
        padding: 2.5rem 0rem 0rem 2.5rem;
    }

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.5rem;
    }

    .product-details {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 2.3rem;
        padding-right: 2.5rem;

    }

    .button {
        display: block;
        width: 29.5rem;
        height: 4.8rem;
        border: none;
        border-radius: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        color: hsl(0, 0%, 100%);
        background-color: hsl(158, 36%, 37%);
        cursor: pointer;
    }
}