
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*base styles*/


/* font-family: 'Montserrat', sans-serif; */

/* font-family: 'Fraunces', serif; */



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 175px;

}

.preview-image img {
    width: 301px;
    height: 448px;
    
}

.description {
    display: block;
    width: 271px;
    height: 415px;
    padding-left: 30px;
    padding-top: 35px;
    

}

/* .perfume-name {
} */

/* .details {
} */

/* .actual-price {
} */

/* .old-price {
} */

/* .button {
} */





.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }